<% content_for :title, "Editing lending" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing lending</h1>

  <%= render "form", lending: @lending %>

  <%= link_to "Show this lending", @lending, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to lendings", lendings_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
